<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{title}}</title>
  </head>
  <body class="font-serif bg-gray-100 w-full h-screen">

    {{{body}}}
    <script src="/js/{{#unless js}}app.js"{{/unless}}></script>
  </body>

</html>